<div class="container">
  <div class="row mgb bg_grey">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <a class="" ><img style="width: 100%;"
        src="./assets/image/output/gioi-thieu-1.JPG"
        class="img-responsive"></a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
      <div class="" style="height: 370px;">
        <h2>
          GUHAUS
        </h2>
        <p>
          GUHAUS là một trong những công ty thiết kế nội thất hàng đầu ở Việt Nam Chúng tôi phục vụ khách hàng tư
          nhân và các đối tác thương mại...
          Chúng tôi tin rằng các bạn xứng đáng được thiết kế mà không có ranh giới. Đó là lý do tại sao chúng tôi làm
          việc bên cạnh bạn và về phía bạn.

          Chúng tôi tạo ra nội thất ấn tượng mà không có tính nghiệp dư. Với một trong những đội ngũ thiết kế nội thất
          hàng đầu dưới một mái nhà, nhiều sự lựa chọn hơn cho khách hàng và phù hợp với sở thích của họ.

          Đối với thiết kế sáng tạo được xem xét cẩn thận nhìn thấy sự liền mạch, chúng tôi hoan nghênh bạn, tầm nhìn
          của bạn và để chúng tôi mở khóa các khả năng vô hạn.

        </p>
      </div>
    </div>
  </div>
</div>
